* {
    border: none;
    border-radius: 0;
    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
    font-family: monospace;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.75);
    border-bottom: 3px solid rgba(100, 114, 125, 0.75);
    color: #eeffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #212121;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #eeffff;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #eeffff;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 3px solid #eeffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #eeffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 1px;
    color: #eeffff;
    border-bottom: 3px solid rgba(100, 114, 125, 0.75);
}

#clock {
    background-color: #212121;
    margin: 0 0px;
}

#battery {
    background-color: #eeffff;
    color: #212121;
}

#battery.charging {
    background-color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #eeffff;
        color: #212121;
    }
}

#battery.critical:not(.charging) {
    background-color: #f07178;
    color: #eeffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #212121;
}

#network {
    background-color: #c792ea;
    color: #212121;
}

#network.disconnected {
    background-color: #f07178;
}

#pulseaudio {
    min-width: 50px;
    background-color: #82aaff;
    color: #212121;
}

#pulseaudio.muted {
    background-color: #6699cc;
}

#cpu {
    background-color: #89ddff;
    color: #212121;
}

#memory {
    background-color: #c3e88d;
    color: #212121;
}

#temperature {
    background-color: #ffcb6b;
    color: #212121;
}

#temperature.critical {
    background-color: #f07178;
}

#tray {
    background-color: transparent;
    border-radius: 0;
    margin: 0 0px;
}
