@define-color base03    #002b36;
@define-color base02    #073642;
@define-color base01    #586e75;
@define-color base00    #657b83;
@define-color base0     #839496;
@define-color base1     #93a1a1;
@define-color base2     #eee8d5;
@define-color base3     #fdf6e3;
@define-color yellow    #b58900;
@define-color orange    #cb4b16;
@define-color red       #dc322f;
@define-color magenta   #d33682;
@define-color violet    #6c71c4;
@define-color blue      #268bd2;
@define-color cyan      #2aa198;
@define-color green     #859900;

* {
    border: none;
    border-radius: 0;
    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
    font-family: Fira Code, monospace;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: @base03;
    border-bottom: 3px solid @base02;
    color: @base2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: @base03;
}

window#waybar.chromium {
    background-color: @base03;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @base0;
    border-bottom: 3px solid @base01;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @base02;
    box-shadow: inherit;
    border-bottom: 3px solid @base1;
    color: @base1;
}

#workspaces button.focused {
    background-color: @base01;
    border-bottom: 3px solid @base3;
    color: @base3;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: @base00;
    border-bottom: 3px solid @base0;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 1px;
    color: @base2;
    border-bottom: 3px solid @base00;
}

#clock {
    background-color: @base02;
    margin: 0 0 0 1px;
}

#battery {
    border-bottom: 3px solid @orange;
}

#battery.charging {
    background-color: @base2;
    color: @base03;
}

@keyframes blinklow {
    to {
	background-color: @base02;
    }
}

#battery.warning:not(.charging) {
    background-color: @base03;
    border-bottom: 3px solid @red;
    animation-name: blinklow;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @base03;
        color: @red;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @base03;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    border-bottom: 3px solid @base03;
}

#network {
    border-bottom: 3px solid @magenta;
}

#network.disconnected {
    background-color: @red;
}

#pulseaudio {
    min-width: 50px;
    border-bottom: 3px solid @blue;
}

#pulseaudio.muted {
    border-bottom: 3px solid @base01;
}

#cpu {
    border-bottom: 3px solid @cyan;
}

#memory {
    border-bottom: 3px solid @green;
}

#backlight {
    min-width: 50px;
    border-bottom: 3px solid @yellow;
}

#temperature {
    border-bottom: 3px solid @orange;
}

#temperature.critical {
    border-bottom: 3px solid @red;
}

#tray {
    border-radius: 0;
    margin: 0 0px;
}
